<p><i>
        Receive a secret in 3 simple steps:<br>
        1. Communicate the token with the supplier of the secret.<br>
        2. Sitback and relax.<br>
        3. Copy the received secret.<br>
    </i>
</p>
<h2 id="token"></h2>
<h3 id="ReceiverResponse"></h3>
<form class="pure-form pure-form-stacked">
    <div class="pure-u-1">
        <input class="pure-input-1" id="scrtboxReceive" type="password" placeholder="The password will arrive here..."
            readonly>
        <button class="button-success pure-button" id="copyButton" type="button" onclick="copySecret()" disabled>Copy
            Secret</button>
        <button class="button-warning pure-button" id="receiverShow" type="button"
            onclick="showSecret('scrtboxReceive', 'receiverShow')" disabled>Show Secret</button>
    </div>
    <p id="copied"></p>
</form>
<form class="pure-form pure-form-stacked">
    <div id="passPhraseReceiveDiv" class="passPhraseReceiveDiv">
        <p>
            The supplier of this secret used a passphrase to encrypt the secret. Fill in the
            passphrase to decrypt the
            given secret
        </p>
        <input class="pure-input-1" id="passphraseReceive" type="password" placeholder="Insert passphrase here ...">
        <button class="button-success pure-button" type="button" onclick="decrypt()">Decrypt</button>
        <button class="button-warning pure-button" id="passphraseReceiveShow" type="button"
            onclick="showSecret('passphraseReceive', 'passphraseReceiveShow', 'Passphrase')">Show Passphrase</button>
    </div>
    <p id="encryptedSecretSave" style="display: none"></p>
</form>
<p id="utoken" hidden></p>
<script>
    let loc = window.location;
    let uri = 'ws:';

    if (loc.protocol === 'https:') {
        uri = 'wss:';
    }
    uri += '//' + loc.host;
    uri += loc.pathname + 'ws';

    ws = new WebSocket(uri)
    ws.onmessage = function (message) {
        let wsMessage = JSON.parse(message.data);
        switch (wsMessage["status"]) {
            case "init":
                // set the token
                document.getElementById("token").innerHTML = '<font color="orange">Your Token: ' + wsMessage["token"] + '</font>';
                document.getElementById("utoken").innerText = wsMessage["token"]
                // open the receiversbox:
                document.getElementsByClassName("accordion")[0].click();
                document.getElementById("tokenbox").placeholder = "E.g. " + wsMessage["token"]
                break;
            case "transfer":
                // enable the buttons:
                document.getElementById("copyButton").disabled = false
                document.getElementById("receiverShow").disabled = false
                // set the message in the box
                var secret = wsMessage["secret"]
                document.getElementById("scrtboxReceive").value = secret;
                // test if key is true then we need to show passphrase part
                if (wsMessage["key"] == true) {
                    document.getElementById("scrtboxReceive").placeholder = "Use the correct passphrase!"
                    document.getElementById('passPhraseReceiveDiv').style.display = "block";
                    document.getElementById("encryptedSecretSave").innerText = secret;
                    // stretch up the panel 
                    let accRecPanel = document.getElementsByClassName("accordion")[0].nextElementSibling;
                    let receiverPassphraseBlock = document.getElementById("passPhraseReceiveDiv");
                    accRecPanel.style.maxHeight = (accRecPanel.scrollHeight + receiverPassphraseBlock.scrollHeight) + "px";

                }
                document.getElementById("token").innerHTML = '<font color="green">Secret arrived <span>&#8675;</span></font>';
                break;
            default:
                ws.close();
        }
    }
</script>
<script>
    // copy the secret
    function copySecret() {
        var secretValue = document.getElementById("scrtboxReceive");
        copiedText = document.getElementById("copied");
        // unset disabled which enables a copy
        secretValue.removeAttribute("disabled");
        // if nothing is given
        if (secretValue.value == "") {
            return;
        }
        // if the pw is being shown
        if (document.getElementById("receiverShow").innerText == "Hide Secret") {
            // just copy
            secretValue.select();
            document.execCommand("copy");
        } else {
            showSecret('scrtboxReceive', 'receiverShow')
            secretValue.select();
            document.execCommand("copy")
            showSecret('scrtboxReceive', 'receiverShow')
        }
        copiedText.innerText =  "| Secret copied!";
        let accRecPanel = document.getElementsByClassName("accordion")[0].nextElementSibling;
        accRecPanel.style.maxHeight = (accRecPanel.scrollHeight + copiedText.scrollHeight) + "px";
    }

    // used to decrypt the password
    function decrypt() {
        var secretValue = document.getElementById("scrtboxReceive");
        // we dont want to lose the encrypted value (if passphrase is misstyped)
        var encryptedSecret = document.getElementById("encryptedSecretSave").innerText;
        // get the passphrase
        var passPhrase = document.getElementById("passphraseReceive").value;
        var response = document.getElementById("ReceiverResponse");
        if (passPhrase == "") {
            response.innerHTML = '<font color="red">Please insert a passphrase!</font>';
            return
        } else {
            // clear the response tekst
            response.innerHTML = ""
            var decryptedSecret = CryptoJS.AES.decrypt(encryptedSecret, passPhrase).toString(CryptoJS.enc.Utf8);
            document.getElementById("scrtboxReceive").value = decryptedSecret;
        }
    }
</script>
